@(name: String, fieldsize: Int)


@head(name){
	<div id="status_elemente">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="/tablut/9">Neustart 9 x 9</a></li>
				<li><a href="/tablut/11">Neustart 11 x 11</a></li>
				<li><a href="/tablut/13">Neustart 13 x 13</a></li>
			</ul>
		</div>
		<ul id="status_fenster">
			<p>Bewegungs Nachricht</p>
			<li v-for="status in status_list" v-text="status"></li>
		</ul>
	</div>
	<div id="spiel_elemente">
		<div id="player_turn">{{get_player_turn}}</div>
    	<table id="Gamefield" size=@fieldsize></table>
    </div>
}